_build/
*.install
*.merlin
.merlin
*.cmi
*.cmo
*.cmx
*.cmxs
*.o
*.a

# Coq build artifacts
*.vo
*.vok
*.vos
*.glob
.*.aux
.lia.cache
.nia.cache

# Lean build artifacts
*.olean
*.ilean
*.c.o
.lake/
axiom-wp/why3-semantics/
